.challenge {
width: 100%;
background:#ccc;
background: url(/dist/img/common/main-back-pc.png) center / cover no-repeat;
text-align: center;
padding: 35px 0 55px 0;

@include mq('sp') {
  background: url(/dist/img/common/main-back-sp.png) center / cover no-repeat;
  padding: 0.35rem 0 0.5rem 0;
}

.inner {
  width: 822px;
  max-width: 100%;
  margin:0 auto;
  @include mq('sp') {
    width: auto;
    padding: 0 0.37rem;
  }
}
.status {

  .welcome .text {
    margin-bottom: 10px;
  @include mq('sp') {
    margin-bottom: 0.2rem;
  }

  }

  .row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;

      @include mq('sp') {
      justify-content: normal;
      }
    .box {
      background-color: #fff;
      border-top:2px solid #000;
      border-bottom:2px solid #000;
      width: 38.5%;

      @include mq('sp') {
        width: 3.28rem;
        padding: 0.2rem 0;
        border-top:0.04rem solid #000;
        border-bottom:0.04rem solid #000;
      }
      & + .box {
        margin-left: 20px;

        @include mq('sp') {
          margin-left: 0.19rem;
        }
      }
    }
  }
}

.dice-display {
  margin-bottom: 32px;

  @include mq('sp') {
    width: 6.76rem;
    height: 3.72rem;
    margin-bottom: 0.4rem;
  }
}


.btn-go {
  font-size: 22px;
  color:#fff;
  background-color: #f68323;
  border-bottom:5px solid #e05600;
  margin-bottom: 14px;

  @include mq('sp') {
    margin-bottom: 0.38rem;
    font-size: 0.28rem;
  }
  &:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
  }
  .text {
    color:#fff;

    @include mq('sp') {
      font-size: 0.22rem;
    }
  }
}

.have-coin {
  margin-bottom: 30px;

  @include mq('sp') {
    margin-bottom: 0.5rem;
    font-size: 0.28rem;
  }
  & > .lg-text{
    margin-left: 10px;

    @include mq('sp') {
      margin-left: 0.1rem;
      font-size: 0.46rem;
    }
  }
}

.btn-contents {
  background-color: #fff;
  border:3px solid #e25f6d;
  color:#e25f6d;
  position: relative;
  padding: 20px 0;
  min-height: 1.1rem;

  @include mq('sp') {
    padding: 0.2rem 0;
    box-sizing: border-box;
    font-size: 0.28rem;
  }

  //コイン画像
  &::before {
    content:"";
    display: block;
    width: 40px;
    height: 40px;
    background:url(/dist/img/index_login/coin.png) no-repeat;
    background-size: 40px 40px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform:translateY(-50%);

    @include mq('sp') {
      width: 0.6rem;
      height: 0.6rem;
      background-size: 0.6rem 0.6rem;
      left: 1.3rem
    }
  }

  //矢印
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 10%;
    width: 7px;
    height: 7px;
    border-top: 2px solid #e25f6d;
    border-right: 2px solid #e25f6d;
    transform: translateY(-50%) rotate(135deg);

    @include mq('sp') {
      width: 0.15rem;
      height: 0.15rem;
      border-top: 0.04rem solid #e25f6d;
      border-right: 0.04rem solid #e25f6d;
      right:1.4rem;
    }
  }
}

}
